.factory-run-result {
    padding: 0 20px;
}

.trace-back {
    background: #F44336;
    padding: 15px;
    color: #fff;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}